.header {
  background-color: #797E84;
  width: 95%;
  margin: auto;
  height: 4rem;
}

.nav {
  height: 100%;
}

.barra-ul {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.barra-li {
  color: aliceblue;
  text-decoration: none;
  font-size: 2rem;
}

.icon {
  width: 1.8rem;
}

.main {
  width: 98%;
  margin: auto;
}

.body-input {
  width: 100%;
  border: 1px solid #E5E4E0;
  padding: 15px 15px;
  margin: 20px 0px;
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

.body-input:focus {
  outline: 2px solid transparent;
  border: 2px solid #64686C;
}

.cellphones {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
}

.cellphone {
  background-color: lightcyan;
  border-radius: 10px;
  overflow: hidden;
}

.cellphone h2 {
  margin-left: 2rem;
  color: #64686C;
  text-align: left;
  font-size: 1.5rem;
}

.group-btn {
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  background-color: #64686C;
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.footer {
  background-color: #797E84;
  width: 100%;
}

.footer-text {
  color: aliceblue;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.8rem;
}

.address {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.address a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5rem;
  padding: 10px 0px;
}